.ant-tabs-nav {
  margin-bottom: 0px !important;
}

.tabCustom {
  background: #fbfbfb;
  border-radius: 5px 5px 0px 0px !important;
  border: 1px solid #f3f3f3;
}

.ant-collapse-header {
  padding: 20px 20px 0px 20px !important;
}
.ant-collapse-content-box {
  padding: 0px !important;
}
