.customImage {
  .ant-upload-picture-card-wrapper {
    width: 200px;
    height: 200px;
    .ant-upload-list-item-container {
      width: 200px !important;
      height: 200px !important;
    }
  }
  .ant-upload {
    width: 200px !important;
    height: 200px !important;
  }
}
